body{ margin: 0px;
    padding: 0px;    
    background-color: rgb(247, 130, 212);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
    
    #navbar{ margin: 0px;
    padding: 5px;
    background-color: rgb(247, 130, 212);
    color: rgb(0, 0, 0);
    text-align: center;}

    #html{
        border: 20px;
        margin: 10px;
        padding: 5px;
        background-color: rgb(204, 63, 162);
        display: flex;
        
    }
    
    
     .h{
        text-align: center;
        color: rgb(0, 0, 0);
        margin: 10px;
        padding: 50px;
        background-color: rgb(204, 63, 162);
        border: 5px;
        border-style: solid;
        border-color: rgb(0, 0, 0);
        }

        .ht{
            text-align: center;
            color: rgb(0, 0, 0);
            margin: 10px;
            padding: 50px;
            background-color: rgb(204, 63, 162);
            border: 5px;
            border-style: solid;
            border-color: rgb(0, 0, 0);
            }

        #css{
        border: 20px;
        margin: 10px;
        padding: 5px;
        background-color: rgb(204, 63, 162);
        display: flex;
        }
        
        
         .c{
            text-align: center;
             color: rgb(0, 0, 0);
            margin: 10px;
            padding: 50px;
            background-color: rgb(204, 63, 162);
            border: 5px;
             border-style: solid;
             border-color: rgb(0, 0, 0);
            }
            .cs{
                text-align: center;
                 color: rgb(0, 0, 0);
                margin: 10px;
                padding: 50px;
                background-color: rgb(204, 63, 162);
                border: 5px;
                 border-style: solid;
                 border-color: rgb(0, 0, 0);
                }
      
            #Git{
                border: 20px;
                margin: 10px;
                padding: 5px;
                background-color: rgb(204, 63, 162);
                display: flex;
            }
            
            
             .g{
                text-align: center;
                color: rgb(0, 0, 0);
                margin: 10px;
                padding: 50px;
                background-color: rgb(204, 63, 162);
                border: 5px;
                border-style: solid;
                border-color: rgb(0, 0, 0);
                }
                .gi{
                    text-align: center;
                    color: rgb(0, 0, 0);
                    margin: 10px;
                    padding: 50px;
                    background-color: rgb(204, 63, 162);
                    border: 5px;
                    border-style: solid;
                    border-color: rgb(0, 0, 0);
                    }
                    .git{
                        text-align: center;
                        color: rgb(0, 0, 0);
                        margin: 10px;
                        padding: 50px;
                        background-color: rgb(204, 63, 162);
                        border: 5px;
                        border-style: solid;
                        border-color: rgb(0, 0, 0);
                        }

                #Java{
                    border: 20px;
                    margin: 10px;
                    padding: 5px;
                    background-color: rgb(204, 63, 162);
                    display: flex;
                }
                
                
                 .j{
                    text-align: center;
                    color: rgb(0, 0, 0);
                   margin: 10px;
                   padding: 50px;
                   background-color: rgb(204, 63, 162);
                   border: 5px;
                    border-style: solid;
                    border-color: rgb(0, 0, 0);
                    }
                    .ji{
                        text-align: center;
                        color: rgb(0, 0, 0);
                       margin: 10px;
                       padding: 50px;
                       background-color: rgb(204, 63, 162);
                       border: 5px;
                        border-style: solid;
                        border-color: rgb(0, 0, 0);
                        }
    #icone{
    width: 400px;
     }
            
     img{
         width: 350px;
         height: 250px;
     }